---
import Section from "./Section.astro";
---

<Section id="sobre-mi" classes="bg-gray-100">
    <div class="container mx-auto px-5 py-24 grid md:grid-cols-2 grid-cols-1">
        <div class="md:pr-12">
            <img
                class="object-cover object-center rounded max-h-131.75 w-full"
                alt="hero"
                src="/images/foto_perfil.webp"
            />
        </div>
        <div class="order-first md:order-2">
            <h1
                class="title-font sm:text-4xl text-3xl mb-8 font-medium text-gray-900"
            >
                Sobre mí
            </h1>
            <div class="max-w-2xl py-6">
                <p class="text-lg mb-4 leading-relaxed">
                    Soy analista de sistemas con pasión por resolver problemas
                    reales a través del código. Mi camino comenzó en el <strong
                        >desarrollo web</strong
                    >, donde trabajé de forma independiente creando sitios
                    institucionales y en una consultora de software a medida,
                    consolidando mis habilidades técnicas y entendiendo las
                    necesidades de los usuarios.
                </p>

                <p class="text-lg mb-4 leading-relaxed">
                    Más tarde, desarrollé una <strong>aplicación móvil</strong> para
                    optimizar la gestión de presupuestos de un familiar, lo que me
                    introdujo en el desarrollo móvil y me permitió colaborar en una
                    app de facturación. Aunque el proyecto no avanzó, esta experiencia
                    reforzó mi interés por este ámbito.
                </p>

                <p class="text-lg leading-relaxed">
                    Hoy me apasiona trabajar tanto en <strong
                        >desarrollo web como móvil</strong
                    >, integrando ambos entornos o especializándome según las
                    necesidades del proyecto. Mi objetivo es seguir creciendo
                    como desarrolladora, creando soluciones funcionales y
                    accesibles.
                </p>
            </div>
        </div>
    </div>
</Section>
