<section
    class="bg-linear-to-b from-sky-100 to-slate-50 text-gray-600 body-font min-h-screen flex flex-col justify-center pt-41.25 md:pt-0 lg:pt-0"
>
    <div
        class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center"
    >
        <div
            class="mx-auto w-[80%] md:text-center mb-16 md:mb-0 items-center text-center"
        >
            <h1
                class="title-font text-4xl mb-4 font-medium text-gray-900 text-pretty"
            >
                Transformo ideas en experiencias digitales: <strong
                    class="text-primary">Desarrollo web y móvil</strong
                > con enfoque en soluciones a medida y resultados tangibles
            </h1>
            <p class="mb-8 leading-relaxed mx-auto w-[70%]">
                Soy Paula Pereyra, desarrolladora web y móvil con +3 años de
                experiencia. Diseño y construyo soluciones digitales
                personalizadas, desde páginas web hasta apps Android, ayudando a
                negocios y emprendedores a crecer en el mundo digital.
            </p>
            <div class="flex justify-center">
                <a
                    href="#trabajos"
                    class="inline-flex text-white bg-primary border-0 py-2 px-6 focus:outline-none hover:bg-primary/80 rounded text-lg"
                    >Trabajo</a
                >
                <a
                    href="https://docs.google.com/document/d/17_8nFwtqJ1Awr7Zx4r8HBmxzsh1vm_dpTAbLkumX1nc/edit?usp=sharing"
                    target="_blank"
                    class="ml-4 inline-flex text-gray-700 bg-gray-100 border-0 py-2 px-6 focus:outline-none hover:bg-gray-200 rounded text-lg"
                    >Curriculum</a
                >
            </div>
        </div>
    </div>
</section>
