---

import { SEO } from "astro-seo";
import "../styles/global.css";

interface Props {
  title: string;
  description?: string; // Prop opcional
}

const { title, description = "Portfolio personal de Paula Pereyra - Desarrolladora web y movil" } = Astro.props;

---

<html lang="es" class="scroll-smooth">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <SEO
              title={title}
              description={description}
              openGraph={
                {
                  basic: {
                    title,
                    type: "website",
                    url: "https://tublog.com",
                    image: "/favicon.svg"
                  },
                  optional: {
                    description
                  }
                }
              }
            />
    </head>
    <body>
        <slot />
    </body>
</html>
